.main-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.user-image{
    width: 12%;
    height: 24%;
    top: 13%;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    background: #cccccc;
    border-radius: 50%;
}

.name-input-container{
    width: 15%;
    height: 10%;
    top: 13%;
    left: 19%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.name-input{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
}

.name-input:focus{
    border: none;
    outline: none;
}

.name-input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}

.name-input::placeholder{
    color: var(--gray);
    opacity: 0.5;
    font-weight: 500;
}

.name-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.surname-input-container{
    width: 15%;
    height: 10%;
    top: 23%;
    left: 19%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.surname-input{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
}

.surname-input:focus{
    border: none;
    outline: none;
}

.surname-input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}

.surname-input::placeholder{
    color: var(--gray);
    opacity: 0.5;
    font-weight: 500;
}

.surname-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.email-input-container{
    width: 22%;
    height: 10%;
    top: 38%;
    left: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.email-input{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
}

.email-input:focus{
    border: none;
    outline: none;
}

.email-input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}

.email-input::placeholder{
    color: var(--gray);
    opacity: 0.5;
    font-weight: 500;
}

.email-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.phone-input-container{
    width: 22%;
    height: 10%;
    top: 48%;
    left: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.phone-input{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
}

.phone-input:focus{
    border: none;
    outline: none;
}

.phone-input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}

.phone-input::placeholder{
    color: var(--gray);
    opacity: 0.5;
    font-weight: 500;
}

.phone-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.date_of_birth-input-container{
    width: 11%;
    height: 10%;
    top: 58%;
    left: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.date_of_birth-input{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
}

.date_of_birth-input:focus{
    border: none;
    outline: none;
}

.date_of_birth-input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}

.date_of_birth::placeholder{
    color: var(--gray);
    opacity: 0.5;
    font-weight: 500;
}

.date_of_birth-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.address-input-container{
    width: 22%;
    height: 10%;
    top: 68%;
    left: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.address-input{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
}

.address-input:focus{
    border: none;
    outline: none;
}

.address-input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}

.address-input::placeholder{
    color: var(--gray);
    opacity: 0.5;
    font-weight: 500;
}

.address-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.add-item-button{
    width: 15%;
    height: 7%;
    top: 87%;
    left: 3%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

.add-item-button:hover{
    cursor: pointer;
    background-color: #bfbfbf;
}

.add-item-button:active{
    background-color: #a6a6a6;
}

.chat-button{
    width: 15%;
    height: 7%;
    top: 87%;
    left: 19%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

.chat-button:hover{
    cursor: pointer;
    background-color: #bfbfbf;
}

.chat-button:active{
    background-color: #a6a6a6;
}

.submit-button{
    width: 15%;
    height: 7%;
    top: 78%;
    left: 3%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 700;
}

.submit-button:hover{
    cursor: pointer;
    background-color: #bfbfbf;
}

.submit-button:active{
    background-color: #a6a6a6;
}

.log-out-button{
    width: 15%;
    height: 7%;
    top: 78%;
    left: 19%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 700;
}

.log-out-button:hover{
    cursor: pointer;
    background-color: #bfbfbf;
}

.log-out-button:active{
    background-color: #a6a6a6;
}

.full-height-line {
    left: 35%;
    width: 2px;
    height: 100%; 
    position: absolute;
    z-index: -1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--blue); 
}

.edit-name-button{
    width: 23%;
    height: 30%;
    top: 5.5%;
    left: 34%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.edit-name-button:hover{
    cursor: pointer;
    color: #bfbfbf;
}

.edit-name-button:active{
    color: #a6a6a6;
}

.edit-surname-button{
    width: 22%;
    height: 30%;
    top: 5.5%;
    left: 48%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.edit-surname-button:hover{
    cursor: pointer;
    color: #bfbfbf;
}

.edit-surname-button:active{
    color: #a6a6a6;
}

.edit-email-button{
    width: 15%;
    height: 30%;
    top: 5.5%;
    left: 24%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.edit-email-button:hover{
    cursor: pointer;
    color : #bfbfbf;
}

.edit-email-button:active{
    color : #a6a6a6;
}

.edit-phone-button{
    width: 15%;
    height: 30%;
    top: 5.5%;
    left: 53%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.edit-phone-button:hover{
    cursor: pointer;
    color: #bfbfbf;
}

.edit-phone-button:active{
    color: #a6a6a6;
}

.edit-address-button{
    width: 15%;
    height: 30%;
    top: 5.5%;
    left: 30%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.edit-address-button:hover{
    cursor: pointer;
    color: #bfbfbf;
}

.edit-address-button:active{
    color: #a6a6a6;
}

.edit-date-of-birth-button{
    width: 30%;
    height: 30%;
    top: 5.5%;
    left: 92%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.edit-date-of-birth-button:hover{
    cursor: pointer;
    color: #bfbfbf;
}

.edit-date-of-birth-button:active{
    color: #a6a6a6;
}

.error{
    color: red;
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    top: 95%;
    left: 8%;
    transform: translate(-6%, -6%);
}

.user-items-container{
    width: 800px;
    height: 75%;
    top: 14%;
    right: 11%;
    transform: translate(+11%, 0);
    position: absolute;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 30px;
    top: 10%;
    padding: 20px;
    background-color: transparent;
    overflow-y: scroll;
    margin-top: 5%;
}

.item-container {
    position: relative;
    height: 350px;
    background-color: var(--titanium);
    border-radius: var(--br-xl);
}

.item-container:hover {
    cursor: pointer;
}

.item-image {
    position: absolute;
    width: calc(100% - 2px);
    height: 80%;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--br-xl);
    overflow: hidden;
    object-fit: cover;
    border: 1px solid var(--titanium);
}

.item-name {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 80%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 1.5em;
    font-weight: 700;
}

.item-price {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 88%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 1.5em;
    font-weight: 700;
}

.user-items-label{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 13%;
    left: 59%;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 2em;
}