/*
 * Project: ITU project - Garage sale website
 * @file ItemPage.module.css

 * @brief Styles for page for displaying item

 * @author Neonila Mashlai - xmashl00
*/

.image-container{
    width: 35%;
    height: 60%;
    top: 13%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    background: transparent;
    border-radius: 10px;
}

.image-preview{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.item-price{
    width: 22%;
    height: 10%;
    top: 71%;
    left: 17%;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
}

.item-name{
    width: 22%;
    height: 10%;
    top: 15%;
    left: 45%;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    word-wrap: break-word;
    white-space: normal;
}

.item-size{
    width: 22%;
    height: 10%;
    top: 30%;
    left: 45%;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    word-wrap: break-word;
    white-space: normal;
}

.item-condition{
    width: 22%;
    height: 10%;
    top: 45%;
    left: 45%;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
}

.item-description-container{
    width: 22%;
    height: 60%;
    top: 15%;
    left: 70%;
    position: absolute;
    display: flex;
    align-items: top;
    flex-direction: column;
}

.item-description-label{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.item-description{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: top;
    padding-bottom: 0%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 500px; 
    overflow-y: auto; 
}

.contact-seller-button{
    width: 15%;
    height: 7%;
    top: 60%;
    left: 48%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}


.contact-seller-button:hover{
    cursor: pointer;
    background-color: #bfbfbf;
}

.contact-seller-button:active{
    background-color: #a6a6a6;
}

.error{
    color: red;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}