/*
 * Project: ITU project - Garage sale website
 * @file GlobalStyles.css

 * @brief Global styles for all pages

 * @author Maksym Podhornyi - xpodho08
*/

:root {
    /* fonts */
    --font-inria-serif: "Inria Serif";
    --font-inria-sans: "Inria Sans";
  
    /* font sizes */
    --font-size-21xl: calc(40px + 0.5vw);
    --font-size-13xl: calc(32px + 0.5vw);
    --font-size-17xl: calc(36px + 0.5vw);
  
    /* Colors */
    --white: #fff;
    --blue: #114264;
    --titanium: #c7bfb2;
    --green: #093825;
    --brown: #452a00;
    --black: #000000;
    --gray: #484848;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-6xl: 25px;
}

.header-item {
    height: 50%;
    bottom: 50%;
    background-color: var(--blue);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.15625%;
    background-color: var(--titanium);
}

.header-logo {
    position: absolute;
    top: 4.8%;
    left: 0.5%;
    height: 90%;
    width: 108px;
}

.kids,
.men,
.women {
    text-decoration: none;
    position: absolute;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--blue);
    font-weight: 700;
    top: 62.5%;
}

.men {
    width: 8%;
    left: 33%;
    cursor: pointer;
}

.women {
    width: 8%;
    left: 45%;
    cursor: pointer;
}

.kids {
    width: 8%;
    left: 57%;
    cursor: pointer;
}

.kids:hover,
.women:hover,
.men:hover {
    border-bottom: 2px solid var(--blue);
    transition: 0.1s ease;
}

.log-in-text,
.log-in-icon {
    position: absolute;
    height: 75%;
    top: 12.5%;
}

.log-in-text {
    width: 58.46%;
    left: 5.38%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sans-serif);
    color: var(--blue);
}

.log-in-icon {
    width: 25px;
    right: 13.08%;
    bottom: 12.5%;
    left: 63.85%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.log-in-container {
    position: absolute;
    height: 40%;
    width: 8%;
    top: 6%;
    right: 0.5%;
    cursor: pointer;
    text-align: center;
    font-size: var(--font-size-5xl);
    border-radius: var(--br-xl);
    background-color: var(--titanium);
    display: none;
}

.log-in-container:hover {
    background-color: lightgray;
}

.logged-in-container{
    text-decoration: none;
    position: absolute;
    width: 20%;
    height: 60%;
    top: 20%;
    right: 5%;
    display: none;
    cursor: pointer;
    color: var(--black);
}

.logged-in-as {
    position: absolute;
    text-decoration: none;
    width: 75%;
    top: 25%;
    left: 50%;
    color: var(--black);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20%;
    left: 40%;
    max-width: 100%;
    max-height: 100%;
}

.contacts {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--brown);
}

.address-container {
    position: absolute;
    width: 30%;
    top: 10%;
    left: 40%;
    font-weight: 700;
}

.address {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: var(--white);
}

.contacts-container {
    position: absolute;
    top: 18%;
    left: 9%;
}

.contacts-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: var(--white);
}

.facebook-icon,
.instagram-icon,
.twitter-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.facebook-icon {
  right: 7%;
}

.instagram-icon {
  right: 13%;
}

.twitter-icon {
  right: 19%;
}

.categories-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    left: 8%;
    top: 22%;
    width: 84%;
    height: 55%;
    padding: 0;
}
  
.category-item {
    text-align: center;
    position: relative;
    height: 200px;
    margin: 0;
    padding: 0;
}
  
.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.category-item:hover img {
    filter: blur(3px);
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-17xl);
    font-family: var(--font-inria-serif);
    z-index: 10;
}