.main-container {
    width: 100%;
    height: 100%; 
    display: flex;
}

.caption-container{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 450px;
    height: 50px;
    background-color: antiquewhite;
}

.caption{
    position: relative;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 4em;
    font: var(--blue);
    font-weight: 700;
    left: 38%;
}

.chats-container{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    position: absolute;
    top: 22%;
    left: 10%;
    width: 450px;
    height: 500px;
    background-color: var(--titanium);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.one-chat-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--blue);
    border-bottom: 2px solid black;
    color: var(--titanium);
}

.one-chat-container:hover{
    cursor: pointer;
    background-color: var(--gray);
}

.one-chat-container:active{
    filter: brightness(70%);
}

.chat-user-image{
    position: relative;
    width: 70px;
    height: 70px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    border-radius: 100%;
    background-color: var(--white);
}

.user-id-label{
    position:absolute;
    width: 50%;
    height: 40%;
    left: 25%;
    top: 10%;
    font-size: 2em;
    font: var(--white);
    font-weight: 700;
    align-items: center;
    border: none;
    background: transparent;
}

.item-id-label{
    position:absolute;
    width: 50%;
    height: 40%;
    left: 25%;
    top: 50%;
    font-size: 2em;
    font: var(--white);
    font-weight: 700;
    align-items: center;
    border: none;
    background: transparent;
}

.each-chat-container{
    row-gap: 10px;
    position: absolute;
    top: 15%;
    left:45%;
    width: 750px;
    height: 550px;
    background-color: var(--titanium);
    border-radius: 20px;
}

.each-chat-header{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 15%;
    background-color: var(--blue);
    display: flex;
}

.chat-item-image{
    position: relative;
    width: 70px;
    height: 70px;
    left: 8%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 20px;
    background-color: var(--white);
}

.item-id-header{
    position: relative;
    display: flex;
    width: auto;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
    max-width: 80%;
    background-color: transparent;
    color: var(--titanium);
    font-size: 1em;
    font-weight: 700;
}

.each-chat-messages{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    max-height: 75%;
    top: 15%;
    background-color: transparent;
    overflow-y: scroll;
}

.each-chat-message-container {
    max-width: 80%;
    width: 50%; /* Ваша ширина */
    height: 10%; /* Ваша висота */
    margin: 10px;
    margin-left: auto; /* Автоматичний відступ зліва, вирівнює елемент справа */
    background-color: #0B93F6; /* Синій колір для відправлених повідомлень */
    color: white; /* Білий колір тексту */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 10;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
}

.each-chat-message-container:before,
.each-chat-message-container:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.each-chat-message-container:before {
    right: -7px;
    width: 20px;
    background-color: #0B93F6;
    border-bottom-left-radius: 16px 14px;
}

.each-chat-message-container:after {
    right: -8px;
    width: 8px; 
    background-color: var(--titanium);
    border-bottom-left-radius: 10px;
}

.each-chat-message-container1 {
    max-width: 80%;
    width: 50%; /* Ваша ширина */
    height: 10%; /* Ваша висота */
    margin: 10px;
    background-color: #0B93F6; /* Синій колір для відправлених повідомлень */
    color: white; /* Білий колір тексту */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 10;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
}

.each-chat-message-container1:before,
.each-chat-message-container1:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.each-chat-message-container1:before {
    left: -7px;
    width: 20px;
    background-color: #0B93F6;
    border-bottom-right-radius: 16px 14px;
}

.each-chat-message-container1:after {
    left: -8px;
    width: 8px; 
    background-color: var(--titanium);
    border-bottom-right-radius: 10px;
}

.each-chat-input-container{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.each-chat-input{
    position: relative;
    display: flex;
    width: 87%;
    height: 75%;
    font-size: 1.5em;
    text-align: left;
    border-radius: 30px;
    left: 2px;
    outline: none;
    color: var(--blue);
    bottom: 5%;
    transform: translateY(5%);
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--titanium);
    border: 2px solid var(--blue);
}

.each-chat-input:focus{
    outline: none;
}

.each-chat-input:hover{
    outline: none;
}

.send-icon{
    position: relative;
    width: 50px;
    height: 50px;
    left: 5px;
    top: 45%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    background-color: var(--titanium);
}

.send-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.send-icon:active{
    filter: brightness(70%);
}

.send-icon:hover{
    cursor: pointer;
}