.main-container {
    width: 100%;
    height: 100%; 
    display: flex;
}

.chats-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    top: 15%;
    left: 10%;
    width: 450px;
    height: 550px;
    background-color: var(--titanium);
}

.caption-container{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}

.caption{
    position: relative;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 4em;
    font: var(--blue);
    font-weight: 700;
    left: 38%;
}

.one-chat-container{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--blue);
}

.chat-user-image{
    position: relative;
    width: 10%;
    height: 80%;
    left: 5%;
    top: 10%;
    align-items: center;
    border-radius: 100%;
    background-color: var(--titanium);
}

.each-chat-container{
    row-gap: 10px;
    position: absolute;
    top: 15%;
    left:45%;
    width: 750px;
    height: 550px;
    background-color: var(--titanium);
}