/**
 * Project: ITU project - Garage sale website
 * @file LoginPage.css

 * @brief Styles for login page

 * @author Neonila Mashlai - xmashl00

*/

.password-label,
.username-label{
    position: absolute;
    color: var(--blue);
    font-family: var(--font-inria-sans);
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    font-size: var(--font-size-13xl)
}

.password-label {
    top: 46.34%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.username-label {
    top: 33.5%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.username-input,
.password-input {
    position: absolute;
    background: var(--white);
    border-radius: var(--br-6xl);
    border: none;
    color: var(--blue);
    font-family: var(--font-inria-sans);
    font-weight: 700;
}

.username-input {
    top: 40.53%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.password-input {
    top: 53.37%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.login-form {
    position: absolute;
    top: 30.08%;
    left: 33.33%;
    width: 33.33%;
    height: 50%;
    background-color: rgba(217, 217, 217, 0.7);
}

.log-in-btn {
    position: absolute;
    left: 36.46%;
    top: 59.57%;
    width: 27.22%;
    height: 7.91%; 
    border-radius: var(--br-xl);
    font-size: var(--font-size-21xl);
    display: flex;
    font-family: var(--font-inria-serif);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-xl);
    background-color: var(--titanium);
    color: var(--blue);
    border: none;
}

.error-message {
    position: absolute;
    top: 82%;
    left: 33.3%;
    width: 33.33%;
    height: auto;
    color: red;
    font-family: var(--font-inria-sans);
    font-weight: 700;
    font-size: var(--font-size-13xl);
    text-align: center;
}

.sign-up-btn {
    text-decoration: none;
    position: absolute;
    top: 69.53%;
    left: 36.46%;
    width: 27.22%;
    height: 6.84%;
    border-radius: 20px;
    border: none;
    background-color: var(--titanium);
    color: var(--blue);
    font-family: var(--font-inria-serif);
    font-size: var(--font-size-13xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn:hover {
    background-color: lightgray;
}

.log-in-btn:hover {
    background-color: lightgray;
}
